:root {
    --black: #231f20;
    --gold: #8e793e;
    --light-gold: #ad974e;
    --white: #eaeaea !important;
}
body {
    background-color: var(--black);
    overflow: hidden;
}
main{
    overflow-y: scroll;
}
.side-nav{
    height: 100dvh;
    overflow: hidden;
}

.title > *{
    font: 2.1dvw Cinzel, serif;
    color: var(--white);
}

.nav-items{
    font: 700 1.5rem Roboto, sans-serif;
}

.nav-items .nav-item a{
    color: var(--gold);
    text-decoration: none;
}

.nav-item:last-child a{
    color: var(--light-gold) !important;
}

.nav-items .nav-item a:hover{
    transition: 300ms;
    font-size: 1.6rem;
}

.nav-items .nav-item .active{
    color: var(--white);
    background-color: var(--gold);
    padding: 7px;
    border-radius: 1rem;
    transition: 200ms;
}

.side-nav small{
    color: #313131;
}

main section{
    overflow-y: hidden;
    box-sizing: border-box;
    font: 300 1.5rem Roboto, 'sans-serif';
    color: var(--gold);
}

#about-us h5:first-child{
    color: var(--light-gold);
    font: 700 2.5rem Roboto, sans-serif;
    display: inline;
}
#about-us p{
    line-height: 2.3rem;
}

#connect-with-us h6{
    font: 500 1.7rem Roboto, 'sans-serif' !important;
}

@keyframes buzzy-icon{
    0%{transform: rotate(30deg);}
    /* 25%{transform: rotate(30deg);} */
    50%{transform: rotate(-30deg);}
    /* 75%{transform: rotate(-30deg);} */
    100%{transform: rotate(30deg);}
}

#connect-with-us .social-media i{
    font-size: 4dvh;
    animation: buzzy-icon 800ms linear infinite;
    color: var(--gold);
    
}

#connect-with-us .social-media a:last-child{
    margin-left: 7dvh;
}

#connect-with-us .social-media i:hover{
    transform: scale(1.3);
    color: var(--gold);
    animation: none;
    transition: 200ms;
}

@keyframes broadcast{
    0% {opacity: .2;}
    50% {opacity: 1;}
    100%{opacity: .2;}
}

#about-us .fa-tower-cell{
    box-sizing: border-box;
    font-size: 2.5rem;
    color: var(--light-gold);
    animation: broadcast 3s linear 3s infinite;
}

#calendar iframe{
    min-width: 100%;
    min-height: 800px;
    padding: 5%;
}