:root {
    --black: #231f20;
    --gold: #8e793e;
    --light-gold: #ad974e;
    --white: #eaeaea !important;
}
body {
    background-color: var(--black);
}
.side-nav{
    height: 100dvh;
}

.title h1, h3{
    font: 25px Cinzel, serif;
    color: var(--white);
}

.side-nav .nav-items{
    font: 700 20px Roboto, sans-serif;
    color: var(--gold);
}


.side-nav small{
    color: #313131;
}
main{
    overflow-y: scroll;
}